<style>@media(min-width:576px){.modal-dialog{max-width:100%!important;margin:0}}</style>
<div style="min-height: 100vh;">
<div id="sidebar">
  <div class="d-flex flex-column flex-shrink-0 bg-dark sidebar my-5 shadow-lg h-75" style="width: 4.5rem;height:100%;position: fixed;top: 0;left: 0;border-radius:0 20px 20px 0;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="/home" class="nav-link py-3 border-bottom border-dark link-light" id="btn-spinner" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <i class="bi bi-house-door" style="font-size: 24px;"></i>
        </a>
      </li>
      <li>
        <a href="/reports" class="nav-link py-3 border-bottom border-dark bg-active link-light" id="btn-spinner" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="See all reports">
          <i class="bi bi-flag" style="font-size: 24px;"></i>
        </a>
      </li>
      <li>
        <a href="/reports/add" class="nav-link py-3 border-bottom border-dark link-light" id="btn-spinner" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Create report">
          <i class="bi bi-plus" style="font-size: 24px;"></i>
        </a>
      </li>
    </ul>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none dropdown-toggle drop-icon" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <small>User</small>
      </a>
      <ul class="dropdown-menu drop-icon text-small shadow dropdown-menu-dark p-2" aria-labelledby="dropdownUser3">
        <li><h4 class="ms-3">Actions</h4></li>
        <li><hr class="dropdown-divider"></li>
        <li><a href="/users/changeaccount" class="dropdown-item">Change account</a></li>
        <li><a class="dropdown-item" href="/users/logout">Log-out</a></li>
<hr class="dropdown-divider">
<li><a class="dropdown-item" href="/users/options/{{user.id}}">Options</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="content" class="mt-4 me-4" style="margin-left: 100px;">
  <div class="reports">
    {{#if reports}}
    <h1 class="fw-bold">Reports</h1>
    <small>Search through the new reports.</small>
    {{/if}}
    {{#each reports}}
            <div class="modal-dialog w-100 mx-0 my-4" role="document">
    <div class="modal-content rounded-6 shadow-lg w-100">
      <div class="modal-header border-bottom-0 bg-light">
        <h5 class="modal-title">{{title}}</h5>
        <span class="badge rounded-pill bg-warning text-dark state" tabindex="0" style="cursor:pointer;" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" title="Status" data-bs-content="{{state}}"><i class="bi bi-exclamation-circle"></i></span>
      </div>
      <div class="modal-body">
        <p id="report">{{report}} </p><span class="ms-1" id="readMore"></span>
        <hr class="mt-4">
      </div>
      <div class="modal-footer flex-column border-top-0">
        <small><i class="bi bi-person"></i> Created by: <span class="text-primary">{{person_name}}</span></small>
        <small><i class="bi bi-calendar"></i> Created at: <span class="text-primary">{{createdAt}}</span></small>
        <form method="POST" action="/reports/delete/{{_id}}?_method=DELETE">
                    <button type="submit" class="btn btn-danger ms-1 mt-3 float-end" data-bs-toggle="tooltip" data-bs-original-title="Are you sure?? THERE'S NO HOLDING BACK!!!">Mark as resolved and delete</button>
                </form>
      </div>
    </div>
  </div>
            {{else}}
            <div class="card mx-auto my-auto w-50">
                <div class="card-body">
                    <h1>No reports D:</h1>
                    <p clsss="lead">There are not reports yet. :(</p>
                    <a href="/reports/add" class="btn btn-success w-100">Create one!</a>
                </div>
            </div>
    {{/each}}
    
        </div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bi bi-exclamation-circle me-2"></i>
      <strong class="me-auto">Green Complaint</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body p-5">
      Click on the icon at the right of the title to see the status of the report!
    </div>
  </div>
</div>
<script>
const report = document.querySelector('#report');
const readMore = document.querySelector('#readMore');

if (report.innerText.length >= 400) {
  report.classList.add('text-truncate');
  report.setAttribute('style', 'max-width: 100%;')
  readMore.innerHTML = `<span class="text-muted fw-bold" id="expand" style="cursor:pointer;"">Read more...</span>`;
}

readMore.addEventListener('click', () => {
  report.classList.remove('text-truncate');
  readMore.innerHTML = '';
});
</script>