<style>
    body {
  font-size: .875rem;
  background: #fff!important;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
.sidebar .nav-link.active {
  color: #2470dc;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}
.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
</style>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow navbar-expand">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Green Complaint</a>
  </button>
  <div class="navbar-nav ms-auto">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/users/logout">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-2 d-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/dashboard">
              <i class="bi bi-house-door"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="bi bi-arrow-bar-left"></i>
              Go to main page
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="main my-3">
        <h1 class="h2">Dashboard</h1>
        </div>
        <div class="my-4 w-100 row align-items-center jusitfy-content-center">
            <div class="col-md-4">
                <div class="card my-2">
                    <div class="card-header h4 fw-normal">Reports</div>
                    <div class="card-body fw-bold">{{reportsCount}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-2">
                    <div class="card-header h4 fw-normal">Users</div>
                    <div class="card-body fw-bold">{{usersCount}}</div>
                </div>
            </div>
        </div>
        <div class="w-100 mt-3">
            <h2>Reports</h2>
            {{#each reports}}
            <div class="card my-4">
                    <div class="card-header h4 fw-normal">{{title}}</div>
                    <div class="card-body">{{report}}<br><br>Created by: {{person_name}}<br><br>Created at: {{createdAt}}<br><br>State: {{state}}</div>
                </div>
                {{else}}
                No reports.
            {{/each}}
        </div>
    </main>
  </div>
</div>