{{#if success_msg}}
<div class="fixed p-5 bg-white rounded-xl shadow-xl top-5 right-5" role="alert">
  <strong><i class="bi bi-check"></i></strong> {{success_msg}}
</div>
{{/if}}

{{#if alert_msg}}
<div class="fixed p-5 bg-white rounded-xl shadow-xl top-5 right-5" role="alert">
  <strong><i class="bi bi-exclamation-circle"></i></strong> {{alert_msg}}
</div>
{{/if}}
{{#if error_msg}}
<div class="fixed p-5 bg-white rounded-xl shadow-xl top-5 right-5" role="alert">
  <strong><i class="bi bi-exclamation-circle"></i></strong> {{error_msg}}
</div>
{{/if}}

{{#each errors}}
<div class="fixed p-5 bg-white rounded-xl shadow-xl top-5 right-5" role="alert">
  <strong><i class="bi bi-exclamation-circle"></i></strong> {{text}}
</div>
{{/each}}

{{#if error}}
<div class="fixed p-5 bg-white rounded-xl shadow-xl top-5 right-5" role="alert">
  <strong><i class="bi bi-exclamation-circle"></i></strong> {{error}}
</div>
{{/if}}