<div class="graphDialog">
        <div id="graphDialog" class="fixed bottom-8 right-8 rounded-3xl bg-white shadow-2xl w-2/5 h-2/5 z-50 overflow-hidden">
        <div id="graphNavbar" class="navbar bg-teal-900 text-white w-full flex items-center justify-between p-2 !rounded-t-3xl">
          <div></div>
          <div class="uppercase text-gray-300 tracking-[0.3em] select-none">Graph</div>
          <div></div>
        </div>
          <div id="graphContent" class="content bg-white w-full h-[84.6%]">
          <iframe src="/stats" frameborder="0" class="w-full h-full"></iframe>
        </div>
        </div>
        </div>
<div class="relative min-h-screen bg-gray-50">
    <!-- Sidebar -->
    <div class="fixed z-50 top-10 left-5">
        <div class="sidebar h-full w-[78px] bg-teal-900 fixed top-0 left-0 py-1.5 px-3.5" id="sidebar">
        <div class="logo_content">
        <div class="flex items-center w-full h-12 text-white opacity-0 pointer-events-none logo">
            <div class="mr-1 logo_icon w-7"><img src="/icons/logo-white.png" alt="Logo"></div>
            <div class="text-lg font-medium logo_name">Green Complaint</div>
        </div>
        <button id="btn" class="text-white absolute right-0 top-1.5 text-lg h-12 w-12 text-center transform translate-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7">
            </svg>
        </button>
        </div>
        <ul class="mt-5 nav_list">
            <li class="relative w-full group">
                <a href="/home" class="flex items-center py-2 my-4 text-center text-teal-900 bg-white rounded-lg px-auto">
                    <i class="text-center rounded-lg bi bi-house-door icon leading-12"></i>
                    <span class="text-lg links_name">Home</span>
                </a>
                <span class="tooltip absolute h-[35px] w-[122px] bg-white shadow-lg left-[60px] top-12 transform -translate-y-1/2 rounded-lg text-center group-hover:top-1/2 transition-all opacity-0 pointer-events-none">Home</span>
            </li>
            <li class="relative w-full group">
                <a href="/reports" class="flex items-center py-2 my-4 text-center text-white rounded-lg px-auto whitespace-nowrap hover:bg-white hover:text-green-900">
                    <i class="text-center rounded-lg bi bi-flag icon leading-12"></i>
                    <span class="text-lg links_name">Reports</span>
                </a>
                <span class="tooltip absolute h-[35px] w-[122px] bg-white shadow-lg left-[60px] top-12 transform -translate-y-1/2 rounded-lg leading-[35px] text-center group-hover:top-1/2 transition-all opacity-0 pointer-events-none">Reports</span>
            </li>
            <li class="relative w-full group">
                <a href="/reports/resolved" class="flex items-center py-2 my-4 text-center text-white rounded-lg px-auto hover:bg-white hover:text-green-900">
                    <i class="text-center rounded-lg bi bi-check icon leading-12"></i>
                    <span class="text-lg links_name">Resolved reports</span>
                </a>
                <span class="tooltip absolute h-[35px] w-max px-2 bg-white shadow-lg left-[60px] top-12 transform -translate-y-1/2 rounded-lg leading-[35px] text-center group-hover:top-1/2 transition-all opacity-0 pointer-events-none">Resolved reports</span>
            </li>
            <li class="relative w-full group">
                <a href="/reports/add" class="flex items-center py-2 my-4 text-center text-white rounded-lg px-auto hover:bg-white hover:text-green-900">
                    <i class="text-center rounded-lg bi bi-plus icon leading-12"></i>
                    <span class="text-lg links_name">Add report</span>
                </a>
                <span class="tooltip absolute h-[35px] w-[122px] bg-white shadow-lg left-[60px] top-12 transform -translate-y-1/2 rounded-lg leading-[35px] text-center group-hover:top-1/2 transition-all opacity-0 pointer-events-none">Add report </span>
            </li>
        </ul>
        <div class="absolute bottom-0 left-0 w-full text-white profile_content">
            <div class="profile relative py-[10px] px-[6px] h-13">
                <div class="flex items-center whitespace-nowrap profile_details">
                    <img src="https://avatars.dicebear.com/api/initials/{{user.name}}.svg" alt="Profile image" class="h-[45px] w-[45px] object-cover rounded-lg">
                    <div class="ml-3 name_user">
                        <span class="text-base font-normal name">{{user.name}}</span>
                        <div class="font-light email text-md">{{user.email}}</div>
                    </div>
                </div>
                <a href="/users/options/{{user.id}}" id="options" class="absolute p-3 transform -translate-x-1/2 opacity-0 pointer-events-none left-3/4 bottom-2 min-w-12">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </a>
                <a href="/users/logout" id="log_out" class="absolute p-3 transform -translate-x-1/2 left-1/2 bottom-2 min-w-12">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
    <div class="absolute left-[78px] h-full mt-4 ml-4 content z-10">
        <h1 class="mb-10 text-3xl font-bold text-semibold md:text-3xl">What do you want to do?</h1>
        <div id="options" class="flex flex-col justify-center gap-10">
            <!-- Reports option -->
            <a class="flex flex-col justify-center w-11/12 mr-10 transform shadow-xl hover:-translate-y-3 hover:shadow-2xl" href="/reports">
                <div class="p-4 bg-gray-200 rounded-t-lg header">
                    <h1 class="text-2xl font-semibold">See all reports</h1>
                </div>
                <div class="flex flex-row items-center justify-between px-4 rounded-b-lg py-7 option-content">
                    <p class="text-gray-500">See the newest reports around.</p>
                    <p class="text-green-500">Go &rarr;</p>
                </div>
            </a>
            <!-- Create option -->
            <a class="flex flex-col justify-center w-11/12 mr-10 transform shadow-xl hover:-translate-y-3 hover:shadow-2xl" href="/reports/add">
                <div class="p-4 bg-gray-200 rounded-t-lg header">
                    <h1 class="text-2xl font-semibold">Create your own</h1>
                </div>
                <div class="flex flex-row items-center justify-between px-4 rounded-b-lg py-7 option-content">
                    <p class="text-gray-500">Add your problem here.</p>
                    <p class="text-green-500">Go &rarr;</p>
                </div>
            </a>
            <!-- User option -->
            <a class="flex flex-col justify-center w-11/12 mr-10 transform shadow-xl hover:-translate-y-3 hover:shadow-2xl" href="/users/options/{{user.id}}">
                <div class="p-4 bg-gray-200 rounded-t-lg header">
                    <h1 class="text-2xl font-semibold">Edit your user</h1>
                </div>
                <div class="flex flex-row items-center justify-between px-4 rounded-b-lg py-7 option-content">
                    <p class="text-gray-500">Go to your user options and change it your own.</p>
                    <p class="text-green-500">Go &rarr;</p>
                </div>
            </a>
        </div>
    </div>
</div>